<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Database1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" executionTimeout="3600" />
		<!-- Increase request length and execution timeout for large queries -->
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<!-- Add data contract serializer behavior for large messages -->
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<!-- Increase service throttling for large queries -->
					<serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="200"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<!-- Configure basic HTTP binding for large messages -->
			<basicHttpBinding>
				<binding name="LargeMessageBinding"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 receiveTimeout="01:00:00"
						 sendTimeout="01:00:00"
						 openTimeout="00:05:00"
						 closeTimeout="00:05:00">
					<readerQuotas
					  maxDepth="2147483647"
					  maxStringContentLength="2147483647"
					  maxArrayLength="2147483647"
					  maxBytesPerRead="2147483647"
					  maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</basicHttpBinding>

			<!-- Configure web HTTP binding if using REST -->
			<webHttpBinding>
				<binding name="LargeWebBinding"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 receiveTimeout="01:00:00"
						 sendTimeout="01:00:00"
						 openTimeout="00:05:00"
						 closeTimeout="00:05:00">
					<readerQuotas
					  maxDepth="2147483647"
					  maxStringContentLength="2147483647"
					  maxArrayLength="2147483647"
					  maxBytesPerRead="2147483647"
					  maxNameTableCharCount="2147483647"/>
				</binding>
			</webHttpBinding>
		</bindings>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- To browse web app root directory during debugging, set the value below to true. Set to false before deployment to avoid disclosing web app folder information. -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>